@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


html, body{
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}

:root{
    --cor1: #735A54;
    --cor2: #40231B;
    --cor3: #251D1B;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    background-color: white;
    width: 250px;
    height: 550px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    background: var(--cor3) url(imagens/pexels-andrea-román-17218726.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.9em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
    transition-timing-function: ease;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: var(--cor3);
    color: white
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: var(--cor1);
    color: black;
    border: 1px var(--cor1);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease;
}


form > a.botao:hover{
    background-color: var(--cor3);
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}

.campo{
    background-color: var(--cor2);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px var(--cor3);
}

div.campo label{
    display: none;
}

div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--cor3);
    font-size: 1em;
    width: calc(100% - 50px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}